/*!
    @description    NineSevenThree Grid System
    @author         Resi Respati <https://twitter.com/resir014>
    @version        0.4.4
*/


/** Base Framework
    ========================================================================== */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

/**
    Grid System
*/

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 973px;
}

.row {
    margin: 0 -15px;
}

.row:before,
.row:after {
    display: table;
    content: " ";
}

.row:after {
    clear: both;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        float: left;
    }

    .col-12 { width: 100%; }
    .col-11 { width: 91.67%; }
    .col-10 { width: 83.33%; }
    .col-9 { width: 75%; }
    .col-8 { width: 66.67%; }
    .col-7 { width: 58.33%; }
    .col-6 { width: 50%; }
    .col-5 { width: 41.67%; }
    .col-4 { width: 33.33%; }
    .col-3 { width: 25%; }
    .col-2 { width: 16.67%; }
    .col-1 { width: 8.33%; }

    .push { float: right; }
}

/* Additional CLearfix */
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

/** Standard UI Elements
    ========================================================================== */

/**
    Typography

    Base typography structures.
*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    text-rendering: optimizeLegibility;
    color: #222222;
    background-color: #ffffff;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-style: normal;
    line-height: 1.1;
}

h1, h2, h3 {
    margin: 20px 0 10px;
}

h4, h5, h6 {
    margin: 10px 0;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    color: #6f6f6f;
    line-height: 0;
}

h1 small, h2 small, h3 small {
    font-size: 65%;
}

h4 small, h5 small, h6 small {
    font-size: 75%;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
    margin: 0 0 10px;
}

a {
    color: #0099cc;
    text-decoration: none;
}

a:hover, a:focus {
    color: #428bca;
    text-decoration: underline;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-bottom: 0;
}

.inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dt,
dd {
    line-height: 1.42857143;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}
