/*!
    @description    Custom styles for the NineSevenThree test pattern.
    @author         Resi Respati <https://twitter.com/resir014>
    @version        0.4.1
*/

/** Custom Styles
    ========================================================================== */

/**
    Intro
*/

#intro {
    background-color: #222222;
    color: #ffffff;
    padding: 20px 0;
}

#intro h1, #intro h2, #intro h3, #intro p {
    margin: 0;
}

/** 
    Test Pattern
*/

/* Typography */

#type {
    margin: 20px 0;
}

/* Grid Layouts */

#grid-layout {
    margin: 20px 0;
}

.griddemo {
    margin-bottom: 15px;
}

.griddemo [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
}

/* Code */

pre {
    padding: 10px;
    margin: 0 0 20px;
    background-color: #eeeeee;
    border-radius: 5px;
    border: 1px solid #dddddd;
}

code {
    vertical-align: baseline;
    padding: 2px;
    background-color: #eeeeee;
    border-radius: 2px;
    border: 1px solid #dddddd;
}

/* Blockquote */

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

blockquote p:last-child {
    margin: 0;
}

blockquote footer {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #999;
}

blockquote footer:before {
  content: '\2014 \00A0';
}

/* Alert */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

/**
    Footer
*/

#footer {
    border-top: 1px solid #222222;
    margin-top: 40px;
    padding: 20px 0;
}

#footer p {
    margin: 0;
}