$container-width: 60rem !default;
$grid-gutter:     1em !default;

/* Primary colors */
$color-blue:       #3b98b2 !default;
$color-gray-light: #888    !default;
$color-gray:       #555    !default;
$color-gray-dark:  #222    !default;
$btn-color-white:  #fff    !default;

/* Font stack */
$body-font: "Helvetica Neue", Helvetica, Arimo, sans-serif !default;

/* The base body size */
$body-font-size: 1rem !default;
$line-height: 1.5 !default;

/* Monospace font stack */
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
