ul {
  list-style-type: circle;
}

ul,
ol {
  padding-left: 1em;

  li {
    margin-bottom: .6rem;
  }
}

ul ul,
ol ul,
ul ol,
ol ol {
  padding-left: 2em;
}

dl {
}

dt,
dd {
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
  margin-bottom: 1rem;
}
