/** Custom Styles
    ========================================================================== */

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/**
    Intro
*/

#intro {
  color: #fff;
  background-color: #222;
  padding: 20px 0;
}

#intro {
  p,
  h1,
  h2,
  h3, {
    margin: 0;
  }
}

/**
    Test Pattern
*/

/* Typography */

#type p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: justify;

  & + p { text-indent: 2em }
}

main p {
  font-family: "PT Serif", serif ;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

/* Grid Layouts */


#grid-layout {
  margin: 20px 0;
}

.griddemo {
  margin-bottom: 15px;
}

.griddemo [class^="col"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fafafa;
  border: 1px solid #ddd;
}

/* Code */

pre {
  font-size: .8rem;
  padding: 10px;
  margin: 0 0 20px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 5px;
}

code {
  font-size: .8rem;
  vertical-align: baseline;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2px;
}

/* Blockquote */

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #fafafa;
}

blockquote p:last-child {
  margin: 0;
}

blockquote footer {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #999;
}

blockquote footer:before {
  content: '\2014 \00A0';
}

/* Alert */

.alert {
  font-size: .8rem;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 15px;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

/* Footer */

#footer {
  padding: 20px 0;
  margin-top: 40px;
  border-top: 1px solid #ccc;
}

#footer p {
  margin: 0;
}


