/* Base Framework
 *
 * The required scaffolding classes for everything.
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  font-size: $base-font-size;
}

body {
  color: $body-color;
  background-color: $body-bg-color;
  font-family: $body-font;
  font-size: ($font-size * .8);
  line-height: $line-height;

  @media (min-width: 44rem) {
    font-size: $font-size;
  }
}

a {
  color: $link-color;
  border-style: solid;
  border-width: 0 0 1px;
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken( $link-color, 15% );
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
}

table {
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) {
  td,
  th {
    background-color: #f9f9f9;
  }
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

