/* Base Framework
 *
 * The required scaffolding classes for everything.
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

html {
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: $line-height;
}

body {
  color: $color-gray-dark;
  background-color: #fff;
}

a {
  color: $color-blue;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #428bca;
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

table {
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) {
  td,
  th {
    background-color: #f9f9f9;
  }
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

