/**
 * Buttons
 *
 * @see [https://github.com/South-Paw/CSS-SxcBtns]
 */

.btn {
  display: inline-block;
  color: $btn-color-white;
  background-color: #c4c4c4;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #afafaf;
  border-radius: 5px;
  padding: 8px 16px;
  vertical-align: middle;
  transition: all .15s;

  &:hover {
    color: $btn-color-white;
    background-color: #b3b3b3;
    border-color: #919191;
    text-decoration: none;
  }
}

.btn-xs {
  font-size: 10px;
  line-height: 14px;
  border-radius: 3px;
  padding: 2px 4px;
}

.btn-sm {
  font-size: 14px;
  line-height: 18px;
  padding: 4px 8px;
}

.btn-lg {
  font-size: 18px;
  line-height: 24px;
  padding: 10px 20px;
}

.btn-white {
  color: #070707;
  background-color: #fcfcfc;
  border-color: #c7c7c7;

  &:hover {
    color: #070707;
    background-color: #f2f2f2;
    border-color: #b1b1b1;
  }
}

.btn-black {
  color: $btn-color-white;
  background-color: #535353;
  border-color: #474747;

  &:hover {
    color: $btn-color-white;
    background-color: #3d3d3d;
    border-color: #0e0e0e;
  }
}

.btn-red {
  color: $btn-color-white;
  background-color: #dd5050;
  border-color: #c73f3f;

  &:hover {
    color: $btn-color-white;
    background-color: #c92f2f;
    border-color: #a33131;
  }
}

.btn-orange {
  color: $btn-color-white;
  background-color: #f0ad4e;
  border-color: #eea236;

  &:hover {
    color: $btn-color-white;
    background-color: #ed9c28;
    border-color: #d58512;
  }
}

.btn-green {
  color: $btn-color-white;
  background-color: #55c055;
  border-color: #53ac42;

  &:hover {
    color: $btn-color-white;
    background-color: #40a340;
    border-color: #317c23;
  }
}

.btn-light-blue {
  color: $btn-color-white;
  background-color: #59aedf;
  border-color: #529aca;

  :hover {
    color: $btn-color-white;
    background-color: #4b95c0;
    border-color: #3C7eaa;
  }
}

.btn-blue {
  color: $btn-color-white;
  background-color: #3e7ef0;
  border-color: #3c6fc9;

  &:hover {
    color: $btn-color-white;
    background-color: #336bcf;
    border-color: #2c549c;
  }
}

.btn-purple {
  color: $btn-color-white;
  background-color: #dd48e4;
  border-color: #bc45e2;

  &:hover {
    color: $btn-color-white;
    background-color: #c63dcc;
    border-color: #9c3dad;
  }
}

.btn-link {
  color: #0099cc;
  background-color: transparent;
  border-color: transparent;

  &:hover {
    color: $color-blue;
    background-color: transparent;
    border-color: transparent;
  }
}

.btn-transparent {
  color: $btn-color-white;
  background-color: transparent;
  border-color: $btn-color-white;

  &:hover {
    color: $btn-color-white;
    background-color: rgba(0,0,0,.5);
    text-shadow: none;
    border-color: $btn-color-white;
  }
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;

  + .btn-block {
    margin-top: 5px;
  }
}

