/**
 * Grid system
 *
 * 12 columns, fully responsive. Class names based on Bootstrap's grid system,
 * column widths based on <http://adamkaplan.me/grid>
 */

.container {
  padding: 0 $grid-gutter;
  margin: 0 auto;
  max-width: $container-width;
}

.row {
  margin: 0 -($grid-gutter);
  @include clearfix();
}

.col {
  position: relative;
  min-height: 1px;
  padding-right: $grid-gutter;
  padding-left: $grid-gutter;

  @media (min-width: 36rem) {
    float: left;
  }
}

@media (min-width: 36rem) {
  .col-12 { width: 100%; }
  .col-11 { width: 91.67%; }
  .col-10 { width: 83.33%; }
  .col-9 { width: 75%; }
  .col-8 { width: 66.67%; }
  .col-7 { width: 58.33%; }
  .col-6 { width: 50%; }
  .col-5 { width: 41.67%; }
  .col-4 { width: 33.33%; }
  .col-3 { width: 25%; }
  .col-2 { width: 16.67%; }
  .col-1 { width: 8.33%; }

  .col-push { float: right; }
}
