// Typography
//
// Base typography structures.

// Text floats

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Headings

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  margin-top: 1rem;
  font-size: 2rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}
h4 {
  margin-top: 1rem;
  font-size: 1.25rem;
}
h5 {
  margin-top: 1rem;
  font-size: 1.125rem;
}
h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 0;
  color: #6f6f6f;
}
h1 small, h2 small, h3 small {
  font-size: 65%;
}
h4 small, h5 small, h6 small {
  font-size: 75%;
}

// Body text

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

.inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}

dt,
dd {
  line-height: $line-height;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

// Markdown footnotes
//
// http://daringfireball.net/projects/markdown/syntax

// Footnote number within body text
a[href^="#fn:"],
// Back to footnote link
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bold;
}

// List of footnotes
.footnotes {
  margin-top: 2rem;
  font-size: 85%;
}
