*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  font-size: $base-font-size;
}

body {
  color: $body-color;
  background-color: $body-bg-color;
  font-family: $body-font;
  font-size: $font-size;
  line-height: $line-height;
}

a {
  color: $link-color;
  border-style: solid;
  border-width: 0 0 1px;
  text-decoration: none;
  @include animate();

  &:hover,
  &:focus {
    color: darken( $link-color, 15% );
  }
}

img {
  display: block;
  max-width: 100%;
}
