/* Begin NineSevenThree Styles
   ========================================================================== */

/**
 * Base Framework
 *
 * The required scaffolding classes for everything.
 */

/* Standard box-sixing thingy */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

/**
 * Grid system
 *
 * 12 columns, fully responsive. Class names based on Bootstrap's grid system,
 * column widths based on <http://adamkaplan.me/grid>
 */

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 973px;
}

.row {
  margin: 0 -15px;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
  }

  .col-12 { width: 100%; }
  .col-11 { width: 91.67%; }
  .col-10 { width: 83.33%; }
  .col-9 { width: 75%; }
  .col-8 { width: 66.67%; }
  .col-7 { width: 58.33%; }
  .col-6 { width: 50%; }
  .col-5 { width: 41.67%; }
  .col-4 { width: 33.33%; }
  .col-3 { width: 25%; }
  .col-2 { width: 16.67%; }
  .col-1 { width: 8.33%; }

  .push { float: right; }
}

/* Additional CLearfix */

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}
